AUTH_GOOGLE_ID
AUTH_GOOGLE_SECRET
PUBLIC_SUPABASE_URL
PUBLIC_SUPABASE_PUBLISHABLE_KEY
SUPABASE_SECRET
SENTRY_AUTH_TOKEN
GOOGLE_AI_API_KEY
PUBLIC_STRIPE_KEY
QSTASH_TOKEN
QSTASH_CURRENT_SIGNING_KEY
QSTASH_NEXT_SIGNING_KEY
DATABASE_URL
DATABASE_POOLER_URL
PUBLIC_STRIPE_PUBLISHABLE_KEY
STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET
UPSTASH_REDIS_REST_URL
UPSTASH_REDIS_REST_TOKEN
GEMINI_MODEL
PUBLIC_COMPLETION_MAX_CHARACTERS